@model IEnumerable<JwtCookiesScheme.ViewModels.UserViewModel>
@{
}

<div class="container">
    <h1>User Information</h1>
    @foreach(var user in Model){
        <div>
            <h3>User Details</h3>
            <p><strong>Username:</strong> @user.UserName</p>
            <p><strong>Email:</strong> @user.UserEmail</p>
            <p><strong>Phone Number:</strong> @user.UserPhone</p>
            
        </div>
    }
</div>