@model JwtCookiesScheme.ViewModels.UserViewModel
@{
}

<div class="container">
    <h1>User Information</h1>
    <div>
        <h3>User Details</h3>
        <p><strong>Username:</strong> @Model.UserName</p>
        <p><strong>Email:</strong> @Model.UserEmail</p>
        <p><strong>Phone Number:</strong> @Model.UserPhone</p>
    </div>
</div>